<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= webpackConfig.metadata.title %></title>

  <meta name="description" content="<%= webpackConfig.metadata.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= webpackConfig.metadata.baseUrl %>">
  
</head>

<body>

  <button>
  	<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="17px"
   height="17px"
   viewBox="0 0 744.09448819 1052.3622047"
   id="layout-right"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="layout-right.svg">
  <defs
     id="defs4" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.35"
     inkscape:cx="351.59672"
     inkscape:cy="520"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="781"
     inkscape:window-height="621"
     inkscape:window-x="476"
     inkscape:window-y="115"
     inkscape:window-maximized="0" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <rect
       style="fill:#000000"
       id="rect4230"
       width="54.285713"
       height="991.42871"
       x="5.7142854"
       y="29.50506" />
    <rect
       style="fill:#000000"
       id="rect4230-1"
       width="57.142857"
       height="942.85718"
       x="424.28571"
       y="46.647919" />
    <rect
       style="fill:#000000"
       id="rect4298"
       width="425.71426"
       height="60.000004"
       x="54.285713"
       y="960.93365" />
    <rect
       style="fill:#000000"
       id="rect4298-0"
       width="422.85715"
       height="60.000004"
       x="57.14286"
       y="30.933683" />
    <rect
       style="fill:#000000"
       id="rect4317"
       width="48.57143"
       height="940.00006"
       x="217.14285"
       y="46.64793" />
    <rect
       style="fill:#000000"
       id="rect4323"
       width="184.14288"
       height="1046.5"
       x="557.14282"
       y="0.93363327" />
    <rect
       style="fill:#000000"
       id="rect4298-9"
       width="417.14285"
       height="60.000004"
       x="54.285713"
       y="345.21936" />
    <rect
       style="fill:#000000"
       id="rect4298-5"
       width="417.14285"
       height="60.000004"
       x="57.142857"
       y="659.505" />
  </g>
</svg>

  </button>
  
  <button>
  	<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="17px"
   height="17px"
   viewBox="0 0 744.09448819 1052.3622047"
   id="layout-bottom"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="layout-bottom.svg">
       <defs
     id="defs4401" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.35"
     inkscape:cx="-168.3802"
     inkscape:cy="632.78307"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="970"
     inkscape:window-height="634"
     inkscape:window-x="178"
     inkscape:window-y="12"
     inkscape:window-maximized="0" />
  <metadata
     id="metadata4404">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <rect
       style="fill:#000000"
       id="rect4323"
       width="747"
       height="238.64272"
       x="2.2142508"
       y="816.96954" />
    <rect
       style="fill:#000000"
       id="rect4230"
       width="54.285713"
       height="677.14301"
       x="30.000004"
       y="25.219276" />
    <rect
       style="fill:#000000"
       id="rect4230-2"
       width="54.285713"
       height="682.8573"
       x="661.42859"
       y="13.790691" />
    <rect
       style="fill:#000000"
       id="rect4298"
       width="645.71423"
       height="60.000004"
       x="67.142883"
       y="642.36224" />
    <rect
       style="fill:#000000"
       id="rect4298-7"
       width="682.85712"
       height="60.000004"
       x="28.571449"
       y="5.2193246" />
    <rect
       style="fill:#000000"
       id="rect4298-5"
       width="585.71429"
       height="60.000004"
       x="82.85714"
       y="450.93362" />
    <rect
       style="fill:#000000"
       id="rect4298-9"
       width="585.71429"
       height="60.000004"
       x="80.000008"
       y="230.93364" />
    <rect
       style="fill:#000000"
       id="rect4317"
       width="48.57143"
       height="642.85718"
       x="235.71428"
       y="53.790745" />
    <rect
       style="fill:#000000"
       id="rect4317-4"
       width="48.57143"
       height="642.85724"
       x="452.85715"
       y="60.933601" />
  </g>
</svg>
  
  </button>
  
  
  <button>
  	<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="17px"
   height="17px"
   viewBox="0 0 744.09448819 1052.3622047"
   id="layout-half-horizontal"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="layout-half-horizontal.svg">
  <defs
     id="defs4544" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.35"
     inkscape:cx="375"
     inkscape:cy="520"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="655"
     inkscape:window-height="573"
     inkscape:window-x="836"
     inkscape:window-y="63"
     inkscape:window-maximized="0" />
  <metadata
     id="metadata4547">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <rect
       style="fill:#000000"
       id="rect4323"
       width="747"
       height="469.35718"
       x="0.78571427"
       y="584.82648" />
    <rect
       style="fill:#000000"
       id="rect4230-21"
       width="54.285713"
       height="480.00021"
       x="32.857147"
       y="2.3621478" />
    <rect
       style="fill:#000000"
       id="rect4230-21-2"
       width="54.285713"
       height="462.85733"
       x="658.57141"
       y="19.504963" />
    <rect
       style="fill:#000000"
       id="rect4298-5"
       width="620"
       height="60.000004"
       x="41.42857"
       y="422.36218" />
    <rect
       style="fill:#000000"
       id="rect4298-5-0"
       width="680"
       height="60.000004"
       x="31.428572"
       y="2.3622036" />
    <rect
       style="fill:#000000"
       id="rect4317-4"
       width="48.57143"
       height="468.57147"
       x="235.71428"
       y="6.6478786" />
    <rect
       style="fill:#000000"
       id="rect4317-4-4"
       width="48.57143"
       height="437.14285"
       x="452.85715"
       y="18.076471" />
    <rect
       style="fill:#000000"
       id="rect4298-9"
       width="645.71429"
       height="60.000004"
       x="34.285709"
       y="208.07649" />
  </g>
</svg>

  </button>
  
  
  <button>
  
  	<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="17px"
   height="17px"
   viewBox="0 0 744.09448819 1052.3622047"
   id="layout-half-vertical"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="layout-half-vertical.svg">
  <defs
     id="defs4813" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.35"
     inkscape:cx="375"
     inkscape:cy="528.81654"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="613"
     inkscape:window-height="550"
     inkscape:window-x="383"
     inkscape:window-y="138"
     inkscape:window-maximized="0" />
  <metadata
     id="metadata4816">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <rect
       style="fill:#000000"
       id="rect4323"
       width="347"
       height="1063.6428"
       x="402.21429"
       y="-5.1735225" />
    <rect
       style="fill:#000000"
       id="rect4230-2"
       width="54.285713"
       height="1045.7145"
       x="1.4285847"
       y="8.0764217" />
    <rect
       style="fill:#000000"
       id="rect4298-9"
       width="411.42859"
       height="71.428574"
       x="1.4285728"
       y="-3.352078" />
    <rect
       style="fill:#000000"
       id="rect4298-5"
       width="408.57144"
       height="60.000004"
       x="1.4285539"
       y="996.64789" />
  </g>
</svg>

  	
  </button>
  
  <app>
    Loading...
  </app>
 
  <% if (webpackConfig.metadata.isDevServer && webpackConfig.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>


</body>
</html>
